{% extends "base.html" %}
{% block content %}
<h1>Регистрация</h1>
<form method="POST">
    <div class="mb-3">
        <label>Имя пользователя</label>
        <input type="text" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Пароль</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    <button class="btn btn-success">Зарегистрироваться</button>
    <a href="{{ url_for('login') }}" class="btn btn-link">Уже есть аккаунт</a>
</form>
{% endblock %}